@import 'custom_variables';
@import '../../bower_components/bootstrap-stylus/stylus/bootstrap';

.header {
    @extends .row;
   .menu {
	    @extends .col-md-offset-3;
        @extends .col-md-6;
		.navbar-nav > li {
			padding-left: 15px;
		}
    }
	position: absolute;
    width:100%;
	top: 20px;
}

.carousel {
    width: 100%;
    height: 400px;
}

#highlights {
    @extends .row;
    .highlight-element {
        @extends .col-sm-4;
        @extends .col-md-4;
        @extends .col-lg-4;
        h4 {
            color: $main-color;
            font-weight: bold;
        }
        p {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: 80%;
        }
    }
    text-align: center;
    margin: 20px auto;
}

#products {
    @extends .row;
    .product-element {
        @extends .col-sm-3;
        @extends .col-md-3;
        @extends .col-lg-3;
        h4 {
            color: $main-color;
            font-weight: bold;
        }
        p {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: 80%;
        }
		margin-bottom: 40px;
    }
    text-align: center;
    margin: -60px auto;
}

.shops {
    @extends .row;
    .shop-element {
        @extends .col-sm-3;
        @extends .col-md-3;
        @extends .col-lg-3;
        h4 {
            color: $main-color;
            font-weight: bold;
        }
        p {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: 80%;
        }
		margin-bottom: 40px;
    }
    text-align: center;
    margin: 20px auto;
}
.img-circle {
	border: 2px dashed $tertiary-color;
}

.content-title {
	@extends h1;
	position: absolute;
	margin-left: 50px;
	color: white;
	margin-top: -150px;
	text-transform: capitalize;
	font-size: 60px;
}
.orange {
	@extends h1;
	margin-left: 50px;
	text-transform: capitalize;
	font-size: 60px;
	color: $main-color;
	margin-top: 90px;
	margin-bottom: 30px;
}

.map {
	@extends .row;
	#map_canvas {
		@extends .col-md-offset-2;
		@extends .col-md-8;
		height: 400px;
		border-radius: 5px;
	}
	width: 100%;
	margin-top: 20px;
}

.history {
	.img {
		float: left;
	}
	.content {
		@extends .row;
		.left {
			@extends .col-md-offset-1;
			@extends .col-md-3;
			padding-left: 0px;
			padding-right: 0px;
		}
		.right {
			@extends .col-md-7;
			padding-top: 80px;
		}
		margin-bottom: 40px;
	}	
	.inverse-content {
		@extends .row;
		.right {
			@extends .col-md-3;
			padding-left: 0px;
			padding-right: 0px;
		}
		.left {
			@extends .col-md-offset-1;
			@extends .col-md-7;
			padding-top: 80px;
		}
		margin-bottom: 40px;
	}
}
