
// Color scheme
$main-color- = #FBB917;
$secondary-color = #FFFFFF;
$tertiary-color = #908988;
$main-color = #F88017;
$main-color-light = #FFCD64;
$highlight-color = #cc0000;
$tertiary-color-light = lighten($tertiary-color, 80%);

// Override boostrap varirables

//Navbar
$navbar-default-bg = white;
$navbar-default-link-hover-color = $main-color;

//Dropdown
$dropdown-link-hover-bg = $main-color;
$navbar-default-link-active-bg = lighten($main-color, 85%);

//Carousel
$carousel-control-color = $main-color-light;

//Links
$link-color = $highlight-color;


//Page values
$footer-height = 52px;
$products-margin = 60px;

