
// Color scheme
$main-color- = #FBB917;
$secondary-color = #FFFFFF;
$tertiary-color = #908988;
$black = #000000;
$main-color = #F88017;
$main-color-light = #FFCD64;

// Override boostrap varirables

//Navbar
$navbar-default-bg = white;
$navbar-default-link-hover-color = $main-color;

//Dropdown
$dropdown-link-hover-bg = $main-color;
$navbar-default-link-active-bg = lighten($main-color, 85%);

//Carousel
$carousel-control-color = $main-color-light;
