
// Color scheme
//orange
$main-color = #F88017;
// withe
$secondary-color = #FFFFFF;
//grey
$tertiary-color = #908988;
$tertiary-color-light = lighten($tertiary-color, 80%);
$highlight-color = #cc0000;

// Override boostrap varirables

//Navbar
$navbar-default-bg = white;
$navbar-default-link-hover-color = $main-color;

//Dropdown
$dropdown-link-hover-bg = #FF9F00;
$navbar-default-link-active-bg = lighten($main-color, 85%);
$dropdown-header-color = $main-color;

//Carousel
$carousel-control-color = $main-color;

//Links
$link-color = $highlight-color;

//Buttons
$btn-default-bg = $tertiary-color-light;

//Page values
$footer-height = 52px;
$products-margin = 60px;

//Product image size
$product-image-width = 144px;
$product-image-height = 144px;


//min-height: 40%;
//max-width: 100%;
//height: auto;
//object-fit: cover;
