<div class="page-wrap">
	<div class="header">
	</div>

	<div id="content-header">
	</div>

	<div class="content">
		<div class="block">
			<h3 class="orange">Nuestros servicios</h3>
            <p>Como se puede ver en nuestra sección de productos disponemos de una amplia oferta para el sector de la Hostelería, desde los panes más tradicionales en cuánto a pintxos, bocadillos o panes para menus del día hasta productos innovadores como pueden ser el de pasas y nueces, la focaccia, nuestra gama de mini burger o la gama de celta pintxo. </p>
            <p>Para asegurar la calidad del producto y la satisfacción de los consumidores de nuestros clientes todos nuestros productos son precocidos. De manera que se pueden cocinar al dia para obtener una mayor frescura. Disponemos de los medios necesarios para asegurar la cadena de frio hasta que el producto llega a nuestros clientes.</p>
            <p>Si quieres saber más sobre nuestros productos y estas interesado no dudes en <a href="/contacto">contactarnos</a> te haremos una visita y llevaremos algunas muestras para que puedas conocer el producto de primera mano.</p>
		</div>

		<div class="block">
			<h3 class="orange">Como funciona</h3>
			<p>Este es un pequeño video que explica el proceso de contratación de nuestros productos.</p> 
			<div id="bussines-video" class="video">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/2U4OAwstIy8" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		
	</div>
</div>

<footer class="site-footer">
</footer>
