<div class="page-wrap">
	<div class="header">
	</div>

	<div id="content-header">
	</div>

	<div class="content">

		<div class="block">
			<h3 class="orange">No dudes en contactarnos</h3>
Si tienes alguna duda sobre alguno de nuestros productos, te gustaría hacernos una sugerencia o simplemente quieres decirnos lo mucho que te gusta alguno de nuestros panes no dudes en ponerte en contacto con nosotros. Estaremos encantados de escucharte.
			<div class="datos-contacto">
				<ul>
					<li>
						<span class="glyphicon glyphicon-phone-alt"></span>
						<span class="phone-number">914567893</span>
					</li>
					<li>
						<span class="glyphicon glyphicon-envelope"></span>
						<span class="email"><a href="mailto:contacto@panaderialamoderna.es?Subject:Hola" target="_top">contacto@panaderialamoderna.es</a></span>
					</li>
					<li class="address-block">
						<span class="glyphicon glyphicon-home"></span>
						<span class="address street">Tejera bidea (Pol. Ind. Belako), Pabellon 23</span>
						<span class="address">48100 Atela, Mungia</span>
						<span class="address">Bizkaia</span>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>

<footer class="site-footer">
</footer>

