<div class="header">
</div>

<div id="content-header">
</div>

<div class="content">

	<div class="block">
		<h3 class="orange">No dudes en contactarnos</h3>
		Cotton candy sugar plum pudding lemon drops applicake lemon drops dragée cotton candy. Biscuit cotton candy marzipan sweet dragée marshmallow. Tart dessert cotton candy. Tart pudding cheesecake icing sweet roll tart dessert. Bear claw liquorice sesame snaps oat cake pie jelly-o cake gingerbread liquorice. Wafer topping soufflé cheesecake dragée liquorice dragée candy. Biscuit ice cream caramels chupa chups gingerbread dragée chocolate. Halvah marzipan jelly beans.
		<div class="datos-contacto">
			<div>
				<span class="glyphicon glyphicon-phone-alt"></span>
				<span class="phone-number">914567893</span>
			</div>
			<div>
				<span class="glyphicon glyphicon-envelope"></span>
				<span class="email">contacto@panaderialamoderna.es</span>
			</div>
			<div class="address-block">
				<span class="glyphicon glyphicon-home"></span>
				<span class="address street">Tejera bidea (Pol. Ind. Belako), Pabellon 23</span>
				<span class="address">48100 Atela, Mungia</span>
				<span class="address">Bizkaia</span>
			</div>
		</div>
	</div>

</div>


