<nav role="navigation">
	<ul class="nav navbar-nav">
		<li class="brand orange hidden-xs">La moderna</li>
		<li><a href="#">Inicio</a></li>
		<li><a href="contacto">Contacto</a></li>
		<li><a href="hosteleria">Hostelería</a></li>
	</ul>
</nav>

