<nav role="navigation">
	<ul class="nav navbar-nav">
		<li class="brand orange">La moderna</li>
		<li><a href="#">Inicio</a></li>
		<li><a href="#/contacto">Contacto</a></li>
		<li><a href="#/panaderia">Panadería</a></li>
	</ul>
</nav>

