{{#each highlights}}
	<div class="highlight-element">
		<img class="img-circle" src= {{ photo }}>
		<h4>{{ title }}</h4>
		<p>{{ content }}</p>
		<a class="btn btn-default" href="#" role="button">{{ continue }}</a>
	</div>
{{/each}}
