<div class="page-wrap">
	<div class="header">
	</div>

	<div class="page-title orange">Historia</div>

	<div class="history">
		<div class="content">
			<div class="left">
				<!-- <img class="img-circle" src= "holder.js/300x300"> -->
				<img class="img-circle" src= "/images/pancasero.jpg">
			</div>
			<div class="right">
				<p>Cupcake ipsum dolor sit. Amet chocolate bar gingerbread dessert chocolate cake danish tootsie roll tiramisu. Biscuit croissant chocolate cake lemon drops chupa chups bonbon pie bonbon donut. Sesame snaps chocolate gummi bears biscuit gummies jelly biscuit. Donut oat cake tart apple pie bonbon cookie dragée. Bonbon dessert wafer lollipop fruitcake halvah caramels. Caramels pudding brownie marshmallow donut. Carrot cake jujubes icing unerdwear.com lemon drops pudding. Sweet roll apple pie croissant soufflé unerdwear.com. Dragée powder pastry unerdwear.com wafer lollipop oat cake. Jelly-o cupcake cake. Pastry danish cheesecake carrot cake applicake marshmallow chocolate cake fruitcake sesame snaps.</p>
			</div>
		</div>

		<div class="inverse-content">
			<div class="left">
				<p>Cupcake ipsum dolor sit. Amet chocolate bar gingerbread dessert chocolate cake danish tootsie roll tiramisu. Biscuit croissant chocolate cake lemon drops chupa chups bonbon pie bonbon donut. Sesame snaps chocolate gummi bears biscuit gummies jelly biscuit. Donut oat cake tart apple pie bonbon cookie dragée. Bonbon dessert wafer lollipop fruitcake halvah caramels. Caramels pudding brownie marshmallow donut. Carrot cake jujubes icing unerdwear.com lemon drops pudding. Sweet roll apple pie croissant soufflé unerdwear.com. Dragée powder pastry unerdwear.com wafer lollipop oat cake. Jelly-o cupcake cake. Pastry danish cheesecake carrot cake applicake marshmallow chocolate cake fruitcake sesame snaps.</p>
			</div>
			<div class="right">
				<img class="img-circle" src= "/images/hornos3.jpg">
			</div>
		</div>

		<div class="content">
			<div class="left">
				<img class="img-circle" src= "/images/hornos4.jpg">
			</div>
			<div class="right">
				<p>Cupcake ipsum dolor sit. Amet chocolate bar gingerbread dessert chocolate cake danish tootsie roll tiramisu. Biscuit croissant chocolate cake lemon drops chupa chups bonbon pie bonbon donut. Sesame snaps chocolate gummi bears biscuit gummies jelly biscuit. Donut oat cake tart apple pie bonbon cookie dragée. Bonbon dessert wafer lollipop fruitcake halvah caramels. Caramels pudding brownie marshmallow donut. Carrot cake jujubes icing unerdwear.com lemon drops pudding. Sweet roll apple pie croissant soufflé unerdwear.com. Dragée powder pastry unerdwear.com wafer lollipop oat cake. Jelly-o cupcake cake. Pastry danish cheesecake carrot cake applicake marshmallow chocolate cake fruitcake sesame snaps.</p>
			</div>
		</div>
	</div>
</div>

<footer class="site-footer">
</footer>
