<div class="page-wrap">
	<div class="header">
	</div>

    <div id="content-header">
    </div>

	<div class="history">
		<div class="content">
			<div class="left">
				<!-- <img class="img-circle" src= "holder.js/300x300"> -->
				<img class="img-circle" src= "/images/pancasero.jpg">
			</div>
			<div class="right">
				<p>Panaderia la moderna nace en 1930 de la mano de Julen Beldarrain en un pequeño obrador en Mungia. En los primeros años logra que sus productos, fabricados artesanalmente y con una gran ilusión, vayan abriendo camino en el mercado.</br></br> 
A lo largo de los años la panadería pasa a manos de la segunda generación familiar. El principal objetivo ahora es afianzarse como líderes del sector mediante la constante inversión en medios productivos y desarrollo de productos que generen valor a nuestros clientes. Con este fin se suceden los viajes a ferias internacionales de panadería y pastelería para conocer las novedades en el sector, así como la formación en el extranjero en diferentes áreas.
				</p>
			</div>
		</div>

		<div class="inverse-content">
			<div class="left">
				<p>En 2008 debido al fuerte crecimiento experimentado por nuestra empresa y con el fin de satisfacer correctamente las crecientes necesidades de nuestros clientes, decidimos ampliar nuestra capacidad productiva mediante una inversión en una nueva planta productiva con una superficie de 1600m2. </br></br>
Esta nueva inversión nos ha permitido contar con tecnología más avanzada para cubrir las necesidades de nuestros clientes con la máxima garantía de calidad y servicio, garantizando la cadena de frío a lo largo del proceso de producción. Asimismo hemos podido ampliar sobremanera nuestra gama de productos.
				</p>
			</div>
			<div class="right">
				<img class="img-circle" src= "/images/hornos3.jpg">
			</div>
		</div>

		<div class="content">
			<div class="left">
				<img class="img-circle" src= "/images/hornos4.jpg">
			</div>
			<div class="right">
				<p>A pesar del constante crecimiento de nuestra empresa continuamos ofreciendo el sabor artesano en cada uno de nuestros productos que nos ha hecho acreedores del reconocimiento del mercado como uno de los líderes en fabricación de panes rústicos. </br></br>
El futuro de nuestra empresa viene marcado por la satisfacción de las necesidades de nuestros clientes y apoyado por la constante inversión en procesos productivos para cumplir los estándares de calidad más exigentes en el mundo de la alimentos.
				</p>
			</div>
		</div>
	</div>
</div>

<footer class="site-footer">
</footer>
