<div class="header">
    <div class="logo">
        <img src="holder.js/150x90">
    </div>

    <div id="menu" class="menu">

    </div>
</div>
<div id="slider">
</div>

<div id="highlights">
</div>
