<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
          <li><a href="#">Inicio</a></li>
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/productos/pancasero">Pan casero</a></li>
                  <li><a href="/productos/panclasico">Pan clasico</a></li>
                  <li><a href="/productos/panintegral">Pan integral</a></li>
                  <li><a href="/productos/panburger">Pan hamburguesa</a></li>
                </ul>
          </li>
          <li><a href="/hosteleria">Hostelería</a></li>
          <li><a href="/tiendas">Donde estamos</a></li>
          <li><a href="/historia">Historia</a></li>
          <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>
