<div class="header">
</div>

<div id="content-header">
</div>

<div class="content">
	
	<div class="block">
		<h3 class="orange">Como conseguir nuestra pizza</h3>
		<p>Dessert bonbon sweet pie marshmallow donut sweet roll tart pastry. <a href="#/tiendas">Donde estamos </a>Pie pastry caramels croissant halvah. Gingerbread tiramisu gingerbread carrot cake chocolate. Chocolate bar muffin oat cake.</p>
	</div>

	<div class="block">
		<h3 class="orange">Paso a paso</h3>
		<p>Dessert bonbon sweet pie marshmallow donut sweet roll tart pastry. Pie pastry caramels croissant halvah. Gingerbread tiramisu gingerbread carrot cake chocolate. Chocolate bar muffin oat cake.</p>
	</div>

	<div class="block">
		   <ol class="labels-list">
			   <li>Primero, dessert bonbon sweet pie marshmallow donut sweet roll tart pastry. Pie pastry caramels croissant halvah. Gingerbread tiramisu gingerbread carrot cake chocolate.</li>
			   <li>Segundo, dessert bonbon sweet pie marshmallow donut sweet roll tart pastry. Pie pastry caramels croissant halvah. Gingerbread tiramisu gingerbread carrot cake chocolate.</li>
			   <li>Tercero, dessert bonbon sweet pie marshmallow donut sweet roll tart pastry. <a id="link-pizza-video" >Amasar</a> Pie pastry caramels croissant halvah. Gingerbread tiramisu gingerbread carrot cake chocolate.</li>
			   <li>Cuarto, dessert bonbon sweet pie marshmallow donut sweet roll tart pastry. Pie pastry caramels croissant halvah. Gingerbread tiramisu gingerbread carrot cake chocolate.</li>
		   </ol>
	</div>

	<div class="block">
		<h3 class="orange">Amasar</h3>

		<p>Dessert bonbon sweet pie marshmallow donut sweet roll tart pastry. Pie pastry caramels croissant halvah. Gingerbread tiramisu gingerbread carrot cake chocolate. Chocolate bar muffin oat cake.</p>
		<div id="pizza-video" class="video">
			<iframe width="560" height="315" src="//www.youtube.com/embed/ySOj0fFWo1U?theme=light" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom footer" role="navigation">
	<ul class="nav navbar-nav">
		<li class="brand orange">La moderna</li>
		<li><a href="#">Inicio</a></li>
		<li><a href="#/contacto">Contacto</a></li>
		<li><a href="#/panaderia">Panadería</a></li>
	</ul>
</nav>

