<div class="page-wrap">
    <div class="header">
    </div>

    <div id="content-header">
    </div>

    <div class="content">
        <div class="block">
            <h3 class="orange">Como conseguir nuestra masa</h3>
            <p>Tenemos varias <a href="/tiendas">tiendas</a> repartidas por Bizkaia encuentra la más cercana y pregunta por nuestra masa de pizza. En el directorio de tiendas puedes encontrar el telefono de estas, siempre puedes llamar para asegurarte de que todavía quedan masas.</p>
        </div>

        <div class="block">
            <h3 class="orange">Paso a paso</h3>
            <p>A continuación te explicamos los pasos a seguir para conseguir una pizza perfecta.</p>
        </div>

         <div class="block">
              <ol class="labels-list">
                   <li>Una vez has comprado la masa de pizza, como con cualquier producto congelado, guárdala en el congelador en cuanto llegues a casa.</li>
                   <li>El día que quieras hacer pizza tendrás que sacar la masa del congelador alrededor de 8 horas antes de la hora en la que quieras comerla, para que fermente. Colocala en un plato grande, ya que crecerá y deja el plato en un recinto cerrado. Un buen ejemplo es el horno (importante, no dejarlo en el horno si se ha usado recientemente y esta caliente)</li>
                   <li>Una media hora antes de la comida/cena saca el plato del horno para dar forma a la masa y empezar a cocinar. Puedes empezar a calentar el horno a 200º mientras terminas de preparar la pizza.</li>
                   <li>Hora de estirar. Coloca un papel de horno en una superficie lisa y esparce un poco de harina. (Consejo: utiliza un colador para esparcir y evitar excesos). Coloca el plato boca abajo y ayúdate con la mano para sacar la masa. Poco a poco empieza a estirar la masa para el exterior. No fuerces la masa, es importante darle forma con cuidado para que no se rompa. A continuación podrás ver un vídeo de como hacerlo. Deja de estirar cuando la pizza tenga aproximadamente una mano de radio.</li>
                   <li>Es hora de poner tus ingredientes favoritas en la pizza. Te recomendamos utilizar un tomate casero y una buena mozarella para conseguir un mejor resultado, y no te olvides del orégano.</li>
                   <li>Una vez el horno este listo puedes meter la pizza. Estará lista en aproximadamente 10-15 minutos. Una vez este doradita y el queso este derretido puedes sacarla.</li>
            </ol>
        </div>

        <div class="block">
            <h3 class="orange">Amasar</h3>

            <p>A continuación tienes un ejemplo de como amasar una masa de pizza.</p>
            <div class="video-container embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ySOj0fFWo1U?theme=light"></iframe>
            </div>
        </div>
    </div>
</div>

<footer class="site-footer">
</footer>
