<!doctype html>

<html>
<head>
	<meta charset="utf-8" />
	<script src="/application.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/holder.js"></script>
    <script src="/js/dropdown.js"></script>
    <script src="/js/carousel.js"></script>
    <link href="/css/application.css" type="text/css" rel="stylesheet"></link>
	<title>Panaderia La Moderna</title>
</head>
<body>
	{{{body}}}
</body>
</html>
