<!doctype html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="fragment" content="!">
	<meta name="description" content="Panaderia la moderna es una empresa familiar especializada en la fabricación de pan.">
	<meta name="keyword" content="panaderia,lamoderna,pan,pedro,rabanos">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/application.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/holder.js"></script>
    <script src="/js/dropdown.js"></script>
    <script src="/js/carousel.js"></script>
    <script src="/js/collapse.js"></script>
    <script src="/js/bootstrap-magnify.js"></script>
    <link href="/css/application.css" type="text/css" rel="stylesheet"></link>
    <link rel="shortcut icon" href="images/bread.png"> 
	<title>Panaderia La Moderna</title>
</head>
<body>
	{{{body}}}
</body>
</html>
